@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins&display=swap');

[x-cloak]{
    display: none !important; 
}

.nav-menu>li>a{
    @apply 
        text-lg font-light
        xl:px-3 px-1 pb-0.5 relative 
        select-none font-poppins
}

.nav-menu-hover>li>a{
    @apply lg:hover:text-primary
        after:content-[''] after:w-full after:h-0.5 
        after:absolute after:bottom-0 after:left-0
        after:bg-white 
        lg:after:bg-primary 
        after:origin-left after:scale-x-0 hover:after:scale-x-100
        after:transition after:duration-300;
}


@media  screen and (max-width:768px) {
    .swiper-slide-button{
        display: none !important; 
    }
}

.slider-wrapper .swiper-pagination-bullet{
    @apply w-4 h-4 bg-primary;
}

.slider-wrapper .swiper-slide-button{
    @apply text-primary

}

.slider-wrapper .swiper-slide-button:hover{
    @apply text-light-primary
}
