@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins&display=swap');


.nav-menu>li>a{
    @apply 
        text-xl font-light
        px-3 pb-0.5 relative 
        select-none font-poppins
}

.nav-menu-hover>li>a{
    @apply hover:text-primary
        after:content-[''] after:w-full after:h-0.5 
        after:absolute after:bottom-0 after:left-0 
        after:bg-primary 
        after:origin-left after:scale-x-0 hover:after:scale-x-100
        after:transition after:duration-300 
}